.section1{
    height: 850px;
 background-color: white;
 display: flex;
}

.image{
    position: absolute;
    padding-top: 100px;
    padding-left: 200px;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 5s;
}


.text {
    float: right;
    width: 100%;
    padding-top: 250px;
    padding-right: 200px;
  
}
.text h3 {
    color: black;
    text-align: right;
    font-size:  50px;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 5s;
}
.text h4 {
    color: black;
    text-align: right;
    font-size: 20px;
    font-weight: 200;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    .text Button{
        margin-top: 50px;
        float: right;
        padding: 12px 12px;
        animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 7s;

    }

    .text Button:hover{
        
        padding: 12px 12px;
        animation: fadeIn ease 10s;
        -webkit-animation: fadeIn ease 7s;

    }

    @media screen and (max-width: 960px) { 
    .section1{
        display: none;
        }
    }


