
.front-section{
    height: 1000px;
    background: black;
    padding-top: 150px;
}

.front-section Button{
    padding: 12px 12px;
    font-size: 15pt;
    background: linear-gradient(45deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    float: center;
    margin-top: 80px;
}

.title-button-container {
    
    display: block;
}


.front-section Button{
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 4s;
}

.title h3 {
    font-size: 120px;
    text-align: center;
    line-height: 170px;
    background: linear-gradient(90deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title-comingsoon h3 {
    font-size: 90px;
    text-align: center;
    line-height: 130px;
    background: linear-gradient(90deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.title{
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 4s;
}

.mobile-button a{
    color: white;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }


    @-webkit-keyframes Gradient {
        0% {
        background-position: 0% 50%
        }
      50% {
      background-position: 100% 50%
      }
      100% {
      background-position: 0% 50%
      }
      }
      
      @-moz-keyframes Gradient {
        0% {
        background-position: 0% 50%
        }
      50% {
      background-position: 100% 50%
      }
      100% {
      background-position: 0% 50%
      }
      }
      
      @keyframes Gradient {
        0% {
        background-position: 0% 50%
        }
      50% {
      background-position: 100% 50%
      }
      100% {
      background-position: 0% 50%
      }
      }

      @media screen and (max-width: 960px) { 
        .title h3 {
            font-size: 60px;
            line-height: 100px;
            padding-top: 10px;
            text-align: center;
            float: center;
        }

        .front-section{
            height: 600px;
            background: black;
            padding-top: 50px;
        }

        .mobile-button Button {
            padding: 10px 50px;
        }
        .title-button-container {
            padding: 5px;
            display: block;
        }

      }
