.test-blur {
    width: 100wh;
    height: auto;
    min-height: 225px;
    color: #fff;
    background: linear-gradient(-45deg, #8A18ED, #0047BF  , #8A18ED, #0047BF);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

    }
  
  .paused {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
  }

  .blur{
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);

  }

 .no-blur h3{
   padding-bottom: 50px;
 }

 .no-blur {
   padding-top: 70px;

 }




  
  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  .AlbumArt {
    padding-top: 100px;
    padding-bottom: 40px;
    padding-right: 1000px;

  }
  
  #albumart img {
    height: 300px;
    width: 300px;
  }
  
  #textarea h2 {
    padding: 10px;
    padding-right: 1000px;
  }
  #textarea h3 {
    padding-top: 5px;
    padding-bottom: 50px;
    padding-right: 1000px;
  }

  
  .GetLyrics {
    padding-bottom: 20px;
    padding-right: 1000px;

  }
  
  .rightside {
    padding-top: 70px;
    padding-left: 350px;
    height: 70px;
    position: absolute;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    
  }
  
  .outputlyrics {
    padding-left: 800px;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  
  .outputlyricstext {
    padding-left: 800px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .getlyricsbuttonmobile{
    display: none;
  }
  
  @media screen and (max-width: 960px) { 
  
    .outputlyrics {
      display: flex;
      position: absolute;
      top: 640px;
      padding-left: 150px;
    }
  
    .outputlyricstext {
      display: flex;
      position: absolute;
      top: 790px;
      padding-left: 150px;
      text-align: center;
    }
  
    .rightside{
      padding-left: 35px;
      padding-top: 0px;
      position: absolute;
    }
    
    .test{
      min-height: 1000px;
      height: auto;
    }

    
  
    
  
  
  
    
  
  }