

.test {
    width: auto;
    height: auto;
    min-height: 1200px;
    color: #fff;
    background: linear-gradient(-45deg, #8A18ED, #0047BF  , #8A18ED, #0047BF);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    
    }
  
  .paused {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
  }
  
  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
  50% {
  background-position: 100% 50%
  }
  100% {
  background-position: 0% 50%
  }
  }
  

  
  #albumart img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
  }

  .textarea{
    width: 355px;
    height: auto;
    max-height: auto;
    padding-top: 15px;
    border: 15px solid white;
    border-radius: 60px;
    background: white;
    position: relative;
    margin-top: 80px;
  }
  
  .textarea h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    background: linear-gradient(90deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .textarea h3 {
    padding-top: 5px;
    color: black;
    background: linear-gradient(90deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  
  .leftside {
    padding-top: 0px;
    padding-left: 300px;
    height: 70px;
    position: absolute;
  }
  
  .outputlyrics {
    padding-left: 800px;
    padding-top: 100px;
    padding-bottom: 30px;
  }
  
  .outputlyricstext {
    padding-left: 800px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .getlyricsbuttonmobile{
    display: none;
  }
  .similar-artists img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .similar-artists h2 {
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
  }

  #similar-artists a {
    margin-bottom: 30px;
    text-decoration: none;
    background: linear-gradient(90deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .similar-artists{
    padding-top: 0px;
    text-decoration: none;
    background: linear-gradient(90deg, #8A18ED, #6568F4, #8A18ED, #6568F4);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .similar-artist-container{
    width: 300px;
    height: 370px;
    max-height: auto;
    padding-top: 15px;
    border: 15px solid white;
    border-radius: 60px;
    background: white;
    position: relative;
    margin-top: 80px;

  }

  .similar-artist-wrapper{
    margin-left: 20px;
  }


  
  
  @media screen and (max-width: 960px) { 
  
    .outputlyrics {
      padding-top: 650px;
      padding-bottom: 10px;
      padding-left: 0px;
    }
  
    .outputlyricstext {
      display: flex;
      position: relative;
      padding-left: 0px;
      text-align: center;
      padding: 20px 5px;
      overflow: auto;
    }
  
    .leftside{
      padding-left: 23px;
      padding-top: 0px;
      width: auto;
      position: absolute;
    }

    .similar-artist-container{
      display: none;
    }
    
    .test{
      height: auto;
      position: relative;
    }

    .dashboard-blurred {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }

    .similar-artists{
      display: none;
    }
    
    .textarea{
      width: auto;

      padding-right: 0;
    }
  }