.dashboard{
  min-height: 1200px;
  background-color: #fff;
  height: auto;
  overflow: auto;
  display: flex;
}

.leftside {
  min-width: 50%;
  min-height: 1200px;
  height: inherit;
  float: left;
  
  background: linear-gradient(-45deg, #8A18ED, #0047BF  , #8A18ED, #0047BF);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.songinfo {
  color: white;
  float: center;
  padding-top: 100px;
}

.songinfo h2{
  padding-top: 50px;
  padding-bottom: 10px;
}

.songinfo h3{
  padding: 5px;
}

#albumart img {
  height: 300px;
  width: 300px;
}
.recommended{
  padding-top: 80px;
}
.recommended img{
  height: 200px;
  width: 200px;
}
.recommended h2{
 
  color: white;
}
.recommended h4{
  color: white;
  padding: 10px;
  font-size: 15px;
  padding-bottom: 50px;
}
.rightside{
    background-color: black;
    float: right;
    width: 50%;
    min-height: 1200px;
    height: auto;
    border:5px solid;
    border-color:white;
}
.lyrics h2{
  color: white;
  padding-top: 100px;
}
.outputlyricstext{
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.controls{
  padding-top: 20px;
}
.fa {
  padding:10px
}

.fa-play-circle{
  padding-left: 25px;
  padding-right: 25px;
}

.fa-pause-circle{
  size: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.albumgrid{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: center;  
  padding-bottom: 100px;
}

.albumgrid h2{
  padding-top: 5px;
}

.albumgrid img {
  height: 200px;
  width: 200px;
}



@media screen and (max-width: 960px) { 
  .rightside{
    width: 100%;
    float: none;
    padding-top: 1300px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .leftside{
    width: 100%;
    position: absolute;
    min-height: 1000px;

  }

  .albumgrid h2{
    font-size: 15px;
  }

  .albumgrid img {
    height: 150px;
    width: 150px;
  }

  .albumgrid{
    grid-gap: 30px;
    align-items: center;
  }

  .nomobile{
    display: none;
  }
}